bin/
packages/
obj/
.vs/
Resources/Languages/Output/Resource.English.resx
arm/cvextern.dll
x64/cvextern.dll
x64/inference_engine.dll
x64/inference_engine_c_api.dll
x64/inference_engine_ir_reader.dll
x64/inference_engine_legacy.dll
x64/inference_engine_lp_transformations.dll
x64/inference_engine_onnx_reader.dll
x64/inference_engine_preproc.dll
x64/inference_engine_transformations.dll
x64/libmmd.dll
x64/ngraph.dll
x64/opencv_videoio_ffmpeg440_64.dll
x64/svml_dispmd.dll
x64/tbb.dll
